@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

li {
    list-style: none;
}

a {
    color: var(--color-violet2);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: var(--color-violet2);
}

h1 {
    font-size: 1.6em;
    font-weight: 400;
}

h2 {
    font-size: 1.4em;
    font-weight: 400;
}

h3 {
    font-size: 1.17em !important;
    font-weight: 400;
}

h4 {
    font-size: 1em !important;
    font-weight: 400;
}

:root {
    --color-violet: #a203af;
    --color-violet2: #663399;
    --color-black1: #303238;
    --color-brown: rgb(147 52 52);
    --color-blue: rgb(58, 145, 207);
    --color-pink: #f33194;
    --color-yellow: #ff8a3cae;
    --color-red: #973329;
}

.wrapper {
    min-height: 100vh;
    margin: 0;
}

header {
    font-family: 'Syncopate', sans-serif;
}

#cart{
    font-family: 'Roboto', sans-serif !important;
}

section {
    padding: 30px 0;
}

.header-top {
    background-color: var(--color-black1);
    min-height: 55px;
}

.main-logo {
    max-width: 80%;
}

#whatsapp-desktop {
    font-size: 13px;
    margin: 0 10px;
}

.header-bottom {
    background-color: var(--color-violet);
}

.header-bottom .nav-link {
    font-size: 15px;
    color: #fff !important;
    text-decoration: none;
}

.dropdown-menu {
    background-color: var(--color-violet);
}

.dropdown-item{
    text-transform: uppercase;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: rgba(255, 255, 255, .1);
}

.nav-item a:hover {
    background-color: rgba(255, 255, 255, .1);
    color: #fff !important;
}

/*  */
.box-category .box-images {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.box-category .box-images img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-category .name {
    font-style: italic;
    font-size: .9em !important;
    padding: 5px 0;
    font-weight: 500;
}

.shadown1 {
    color: #424242;
    background-color: #fff;
    border-radius: 5px;
    transition: box-shadow 300ms cubic-bezier(.4, 0, .2, 1) 0ms;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* accordion */
.accordion {
    width: 100%;
    max-width: 360px;
    margin: 30px auto 20px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 30px 15px 42px;
    color: #222;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: var(--color-violet2);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link {
    color: #222;
}

.accordion li.open i {
    color: var(--color-violet2);
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.submenu {
    display: none;
    background: #fff;
    font-size: 14px;
    padding: 10px 24px 16px;
    font-size: 16px;
}

.submenu li {
    border-bottom: 1px solid #4b4a5e;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: var(--color-violet2);
    color: #FFF;
}

/*  */
h1.title {
    font-size: 1.6em;
    font-weight: 400;
}

#page-category {}

.product {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    overflow: hidden;
}

.product .row{
    border-bottom: 1px solid #ddd;
    padding: 15px 10px
}

.product .row:last-child{
    border-bottom: none;
}

.product .box-text .total-time {
    font-size: 14px;
    color: #000;
}

.travel-time i {
    color: var(--color-violet);
    padding: 0px 10px;
    font-size: 25px;
}

.product .box-images {
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.product .box-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-violet {
    display: inline-block;
    padding: .6rem 1rem;
    background-color: var(--color-violet);
    color: #fff;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: all 0.3s linear;
}

.btn-violet:hover {
    color: #000;
    background-color: #0000001e;
}

.gap-1{
    gap: 10px;
}

/* contactform */
.input-group {
    position: relative;
    margin: 10px 0;
}

.input, .textarea, .select{
    width: 100%;
    border: solid 1.5px #9e9e9e;
    border-radius:5px;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #000;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
    position: absolute;
    left: 15px;
    color: #9e9e9e;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 1rem;
}

input[type="date"]~label,input[type="number"]~label,input[type="time"]~label,select~label{
    transform: translateY(-50%) scale(0.8);
    background-color: #fff;
    padding: 0 .2em;
}

input[type="date"]{
    border: 2px solid rgb(62,44,221);
}

.input:focus,
input:valid, 
.textarea:focus,
textarea:valid,
.select:focus,
select:valid {
    outline: none;
    border: 2px solid rgb(62,44,221);
}



.input:focus~label,
input:valid~label,
.textarea:focus~label ,
textarea:valid~label,
.select:focus~label ,
select:valid~label
{
    transform: translateY(-50%) scale(0.8);
    background-color: #fff;
    padding: 0 .2em;
    color: rgb(62,44,221);
}
.is-small{
    font-style: italic;
    font-size: .8em;
}

.image-show{
    cursor: pointer;
}
.image-modal-show img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.image-modal-show{
    padding: 0;
}

/* custom select2 */
.select2{
    width: 100% !important;
}

.select2-container .select2-selection--single{
    border: 2px solid rgb(62,44,221) !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    padding-left:15px;
}

.select2-container--default .select2-selection--single .select2-selection__clear{
    font-size: 23px;
}

/* alert custom */
.alert {
    width: 25%;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.alert-warning {
    color: #ffffff;
    background-color: #ff9800ff;
    border-color: #ff9800ff;
}

.alert-dismissible .close{
    top: 50%;
    font-size: 1.7rem;
    transform: translateY(-50%);
}

.footer {
    text-align: center;
    color: #a6a88f !important;
    padding: 0;
    margin: 1% 0 0;
    background-color: #303238 !important;
    min-height: 50px;
    clear: both;
    padding-bottom: 3%;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

}

@media only screen and (min-width: 1000px) {
    .image-modal-show .modal-dialog{
      width: 100%;
      max-width: 900px;
    }
  }
  
@media (min-width: 768px) {
    .container {
        max-width: 1320px;
    }
    #select-money{
        border-color: rgba(66,66,66) !important;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        width: 100px;
        margin-left: auto;
    } 
    .navbar-light .navbar-toggler-icon {
        filter: invert(1);
    }

}

@media only screen and (max-width: 1000px) {
    .navbar-light .navbar-toggler {
        color: rgb(255 255 255 / 50%);
        border-color: rgb(255 255 255 / 10%);
    }
    .header-bottom{
        background-color: #303238;
    }
    .accordion{
        margin: 20px 0;
        display: block;
        max-width: 100%;
    }
    #select-money{
        font-family: 'Roboto', sans-serif;
        width: 100px;
        color: white;
        background-color: rgba(66,66,66);
        border-color: rgba(66,66,66) !important;
        border-radius: 3px;
        margin-bottom: 10px;
   } 
   .alert {
    width: 45%;
    }
}

/* mobile */
@media only screen and (max-width: 768px) {
    .header-bottom {
        background-color: #303238;
        padding: 10px 0;
    }
    .header-bottom .flex{
        display: flex;
    }
    .navbar-light .navbar-toggler{
        color: rgb(255 255 255 / 50%);
    border-color: rgb(255 255 255 / 10%);
    }
    .navbar-light .navbar-toggler-icon{
        filter: invert(1);
    }
    .dropdown-menu{
        background-color: #303238;
    }

    input[type="date"]{
        min-height: 60px;
    }

    .product .box-images{
        margin: 10px 0;
    }

    .product-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #category-layout-home{
        padding-top: 0px;
    }

    #sec-form{
        padding-bottom: 0px;
    }
    
    .box-category .box-images{
        height: 250px;
    }

    .alert {
        width: 80%;
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 400px){
    .logo{
        width: 70% !important;
    }
}

/*contact*/
.button-contact {
    text-align: center;
    width: 50px;
    position: fixed;
    bottom: 42px;
    z-index: 999;
    right: 10px;
}
.button-contact >div {
    margin: 14px 0;
    background-size: 70% !important;
    border-radius: 50%;
    animation: tada 1.5s infinite;
}
div.phonring-alo-phone .bg {
    position: relative;
    background: url(/images/phone.png) center no-repeat;
    background-size: 30px;
}
div.phonring-alo-phone,div.phonring-alo-sms {
    background: #22b84a center no-repeat;
}
div.phonring-alo-zalo {
    background: #3478e5 center no-repeat;
}
div.phonring-alo-zalo {
    background-image: url(/images/zalo.png);
}
.button-contact a, .phonring-alo-phone a {
    display: block;
    height: 50px;
    line-height: 55px;
    z-index: 99;
} 


/* animation */
.animation-shake {
    animation-name: shake;
    -webkit-animation-name: shake;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.animation-pulse {
    animation-name: pulse;
    animation-delay: 0.2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.animation-flash {
    animation-name: flash;
    -webkit-animation-name: flash;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);

    }

    50% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes flash {

    0%,
    100%,
    50% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}
